name: test-frontend
on:
  push:
    branches: ["main", "release", "develop"]
    tags:
      - "v*"
  pull_request:
    branches: ["main", "release", "develop"]
  workflow_dispatch:

env:
  # General Env vars
  VITE_API_GATEWAY_URL: ${{ vars.VITE_API_GATEWAY_URL }}
  VITE_FILE_SERVICE_URL: ${{ vars.VITE_FILE_SERVICE_URL }}
  VITE_API_KEY: ${{ vars.VITE_API_KEY }}

  # DIDIT Specific Env vars
  VITE_DIDIT_API_KEY: ${{ secrets.VITE_DIDIT_API_KEY }}
  VITE_DIDIT_WORKFLOW_ID: ${{ secrets.VITE_DIDIT_WORKFLOW_ID }}
  VITE_DIDIT_CALLBACK_URL: ${{ secrets.VITE_DIDIT_CALLBACK_URL }}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 25
      - run: |
          cd src/frontend
          npm install
          npm run build

      - uses: actions/upload-artifact@v4
        with:
          name: frontend-build
          path: src/frontend/dist
